beautifulsoup4==4.13.4
dandroid126-utils @ git+https://github.com/dandroid126/dandroid126_utils@bd03984aea8f144ab27daa81a3c56a17b9398ff4
discord.py==2.5.2
python-dotenv==1.1.1
requests==2.32.4
python-dateutil==2.9.0.post0
